h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}

h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}

p {
  font-size: 14px;
  line-height: 20px;
}
